<section class="hero is-light is-bold is-fullheight">
  <div class="container has-text-centered">
    <h1 class="title is-six">Budget Flight Booker</h1>
    <%= render "search-form" %>
  <br/>
  <div class="box">
    <% unless @flights.nil? %>
      <% if @flights.empty? %>
       <p>There are no flights for this day between these two airports</p>   
      <% elsif @flights.any? %>
        <%= render "search-results" %>
      <% end %>
    <% end %>    
    </div>
  </div>
</section>
